
body {
    background-color: aquamarine;
    
}
p {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    position: relative;
}
body p {
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    position: relative;
}
img {
    width: 4cm;
    height: 4cm;
    border-spacing: 0%;
    border-radius: 20%;
}
body img {
    align-content: center;
    size: 180px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    position: relative;
    margin-left: 20%;
    margin-top: 0%;
    margin-right: 30%;
}
body div {
    position: absolute;
    background-color: whitesmoke;
    margin: 10%;
    margin-left: 40%;
    height: 400px;
    width: 300px;
    border-radius: 18%;
    
    
}
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: blue;
}
body p1 {
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    position: relative;
    text-align: center;
    font-style: bold;
    font-size: 15PX;
    font-weight: 400, 700;
}